
Provisioned using Ansible.

Get the scripts from: https://github.com/alexbowers/flotilla

_//////// _//     _// _///////        _////      _///////        _/       
_//       _//     _// _//    _//    _//    _//   _//    _//     _/ //     
_//       _//     _// _//    _//  _//        _// _//    _//    _/  _//    
_//////   _//     _// _/ _//      _//        _// _///////     _//   _//   
_//       _//     _// _//  _//    _//        _// _//         _////// _//  
_//       _//     _// _//    _//    _//     _//  _//        _//       _// 
_////////   _/////    _//      _//    _////      _//       _//         _//


This provisioner comes with no guarantee.
Use at your own risk.

Any issues or questions: https://github.com/alexbowers/flotilla/issues
